		<!-- this is from HTML Boilerplate -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link id="favicon" rel="shortcut icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#dc3833">
		<meta name="msapplication-TileColor" content="#ffc40d">
		<meta name="theme-color" content="#ffffff">

		<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
		<link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">

		<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
		<link rel="icon" href='{{ "favicon.png" | relURL }}'>
