		<!-- Start Footer Section -->
		<footer>
			<h2 class="sr-only">{{ .Site.Title }} - Site Footer Information</h2>
			<div class="container-fluid wl-footer-1-container">
				<div class="container">
					<div class="wl-footer-1-content">
						<ul>
							{{ $currentPage := . }}

							{{ range .Site.Menus.footer }}
							<li>
								<a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "footer" .) }}active{{end}}" href="{{.URL}}">{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }}<span class="sr-only">Selected: </span>{{end}}{{ .Name }}</a></li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>

			<div class="container-fluid wl-footer-2-container">
				<div class="container">

					<div class="row">
						<div class="col-md-6">
							<address>
							Institute for the Study of International Development<br/>
							Peterson Hall<br/>
							3460 McTavish Street<br/>
							Montréal, Québec, H3A 0E6<br/>
							</address>
						</div>
						<div class="col-md-3">
							<p>Email: <a href="">globalgovernance.isid@mcgill.ca</a></p>


Twitter: @GGLab_McGill
						</div>

					</div>

					<div class="wl-footer-2-content">
						<h3 class="sr-only">Copyright information:</h3>
						<p class="text-secondary small text-center text-md-left">Copyright © 2018 McGill University</p>
						<h3 class="sr-only">Brand Logos:</h3>
						<img src='{{ "/images/brand/isid.png" | relURL }}' height="50" alt="" />
						<img height="50" src='{{ "images/brand/wed-lab.png" | relURL }}' alt="" />
					</div>

				</div>
			</div>
		</footer>
		<!-- End Footer Section -->
