{{ define "main" }}


	<h1 id="cont" property="name" class="mb-4">{{ .Title }}</h1>

	<p class="page-lead">The WED Lab, in partnership with Canada's International Development Research Centre, hosted a series of seven research-to-practice training seminars in 2019 for students, scholars, practitioners and policymakers on state of the art research in core areas of women’s empowerment in development.</p>

	<p class="page-lead">Click on a topic to access a recording of the seminar, the facilitator’s PowerPoint slides, suggested readings and other related materials.</p>
	
	

	{{ $future := (where .Pages "Params.seminar.passed" "==" false) }}
	{{ $futureCount := len $future }}


{{/* 
	<section>
		<h2 class="h3">Upcoming Seminars:</h2>

		{{ if eq $futureCount 0 }}
		<p>Stay tuned for information about our upcoming seminars.</p>
		{{ end }}

		{{ if gt $futureCount 0 }}
		<ul>
			{{ range sort (where .Pages "Params.seminar.passed" "==" false) "Params.seminar.date" }}

				<li>
					<a href="{{ .Permalink | relLangURL }}">{{.Title}}</a>
				</li>

			{{ end }}

		</ul>

		{{ end }}


	</section>
*/}}

	{{ $passed := (where .Pages "Params.seminar.passed" "==" true) }}
	{{ $passedCount := len $passed }}

	{{ if gt $passedCount 0 }}
	<section>
		<h2 class="h3 pb-3">2019 Seminars:</h2>

		<ul>
		{{ range sort (where .Pages "Params.seminar.passed" "==" true) "Params.seminar.date" }}

			<li>
				<a href="{{ .Permalink | relLangURL }}">{{.Title}}</a>
			</li>

		{{ end }}
		</ul>
	</section>
	{{ end }}



{{ end }}
